<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coba5">

    <application
        android:name=".UserSetting"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="UTSNO3-HernandoYW"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Coba5">
        <activity
            android:name=".DetailTempatWisata"
            android:exported="false" />
        <activity
            android:name=".ListViewWisata"
            android:exported="false" />
        <activity
            android:name=".DetailInformasiWisata"
            android:exported="false" />
        <activity
            android:name=".AddInformasi"
            android:exported="false" />
        <activity
            android:name=".MainForm"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>